name: Deploy to GitHub Pages

on:
  push:
    branches-ignore:
      - "gh-pages"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout modified branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: ./updates

      - name: Normalize branch name
        run: echo "BRANCH_NAME=$(echo ${{ github.ref_name }} | sed 's|/|-|g')" >> $GITHUB_ENV

      - name: Clone existing gh-pages branch
        run: git clone --branch=gh-pages https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git ./gh-pages

      - name: Copy changes to deployment directory
        run: |
          rm -rf ./gh-pages/${{ env.BRANCH_NAME }}
          mkdir -p ./gh-pages/${{ env.BRANCH_NAME }}
          rsync -a --copy-unsafe-links --exclude .git ./updates/ ./gh-pages/${{ env.BRANCH_NAME }}/

      - name: Remove existing symbolic links from deployment directory
        if: env.BRANCH_NAME == 'main'
        run: find ./gh-pages -type l -exec rm {} \;

      - name: Clean up folders not matching branch names
        if: env.BRANCH_NAME == 'main'
        run: |
          cd ./gh-pages
          git -C ./../updates branch -r | grep -v '\->' | sed 's|origin/||g' | sed 's|/|-|g' > ./../branch_list.txt

          for dir in ./*/; do
            dir=${dir%/}
            basename_dir=$(basename "$dir")
            if [[ "$basename_dir" == ".git" || -z "$basename_dir" ]]; then
              continue
            fi
            if ! grep -q "^$basename_dir$" ./../branch_list.txt; then
              echo "Removing directory not matching any branch: $basename_dir"
              rm -rf "$dir"
            fi
          done

      - name: Create symbolic links in deployment directory
        if: env.BRANCH_NAME == 'main'
        run: |
          link_recursive() {
            local src=$1
            local dest=$2

            if [[ -d "$src" ]]; then
              mkdir -p "$dest"
              for item in "$src"/*; do
                link_recursive "$item" "$dest/$(basename "$item")"
              done
            else
              ln -f "$src" "$dest"
            fi
          }

          for file in ./gh-pages/main/*; do
            link_recursive "$file" "./gh-pages/$(basename "$file")"
          done

      - name: Deploy deployment directory to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./gh-pages
          force_orphan: true
